<div class="ma-transfer">
  <div class="fl">
    <div class="ma-transfer-left-result">
      <ma-checkbox ng-disabled="disabled"
        ng-class="{
          'has-sub': $ctrl.leftSub,
        }"
        ng-model="$ctrl.leftCheckbox">
      </ma-checkbox>

      <span class="ma-transfer-title">{{leftTitle || '所有'}}</span>
    </div>
    <ma-tree ng-disabled="disabled"
      ng-model="$ctrl.leftSelected"
      ma-data="$ctrl.leftData"
      ma-value-key="{{valueKey}}"
      ma-sub-key="{{subKey}}"
      ma-text-key="{{textKey}}"
      ma-hide-items="$ctrl.leftHideItems"></ma-tree>
  </div>
  <div class="fl ma-transfer-center">
    <div class="mb-20">
      <ma-button ng-disabled="$ctrl.leftButtonDisabled"
        ma-click="$ctrl.toRight($event)">
        <span>添加</span>
        <ma-icon ma-type="arrowright"></ma-icon>
      </ma-button>
    </div>
    <div>
      <ma-button ng-disabled="$ctrl.rightButtonDisabled"
        ma-click="$ctrl.toLeft($event)">
        <ma-icon ma-type="arrowleft"></ma-icon>
        <span>删除</span>
      </ma-button>
    </div>
  </div>
  <div class="fl">
    <div class="ma-transfer-right-result">
      <ma-checkbox ng-disabled="disabled"
        ng-class="{
          'has-sub': $ctrl.rightSub,
        }"
        ng-model="$ctrl.rightCheckbox">
      </ma-checkbox>

      <span class="ma-transfer-title">{{rightTitle || '选中'}}</span>
    </div>
    <ma-tree ng-disabled="disabled"
      ng-model="$ctrl.rightSelected"
      ma-data="$ctrl.rightData"
      ma-value-key="{{valueKey}}"
      ma-sub-key="{{subKey}}"
      ma-text-key="{{textKey}}"
      ma-show-items="$ctrl.rightShowItems"></ma-tree>
  </div>
</div>
