<!-- <ma-crumb>
  <ma-crumb-item ma-href="#!/components">Components 组件</ma-crumb-item>
  <ma-crumb-item ma-href="#!/components/global">Global 全局</ma-crumb-item>
  <ma-crumb-item>Font 文字</ma-crumb-item>
</ma-crumb> -->
<ma-crumb-auto></ma-crumb-auto>
<div class="data-display-pagination-page">
  <div class="container"
    ma-full-container>
    <h2>Pagination 分页</h2>
    <p>
      用于数据量较多时，采取分页处理的时候使用。
    </p>
    <h3>代码演示</h3>
     ${require('./code.html')}
    <div class="col-24 pb-20">
      <ma-code>
        <div class="right">
          <a href="https://jsfiddle.net/youpinyao/zftbgh66/" target="_blank">jsfiddle</a>
        </div>
        <code ng-bind="codeText"></code>
        <h3>ma-config</h3>
        <code ng-bind="configText"></code>
      </ma-code>
    </div>
    <h3>API</h3>
    <div class="p">
      <table>
        <tr>
          <th>属性</th>
          <th>说明</th>
          <th>类型</th>
          <th>默认值</th>
        </tr>
        <tr>
          <td>ma-config</td>
          <td>table 配置</td>
          <td>JSON</td>
          <td>-</td>
        </tr>
      </table>
  </div>
</div>
