<div class="sider-menu" ma-sider-menu>
  <div class="sider-menu-title">我是标题</div>
  <div class="sider-menu-content">
    <div class="sider-menu-item">
      <a href="javascript:void(0);" ma-toggle>
        <span>我是一级菜单</span>
      </a>
      <div class="sider-menu-content">
        <div class="sider-menu-item">
          <a href="javascript:void(0);" ma-toggle>
            <span>我是二级菜单</span>
          </a>
          <div class="sider-menu-content">
            <div class="sider-menu-item">
              <a href="javascript:void(0);">
                <span>我是三级菜单</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
