<!-- 自定义实现 -->
<div class="clearfix header-bg">
  <div class="nav">
    <ul>
      <li class="active">
        <a href="javascript:void(0)">Components 组件</a>
      </li>
      <li>
        <a href="javascript:void(0)">Utils 工具</a>
      </li>
    </ul>
    <div>
      <!-- 二级菜单 -->
      <!-- <div class="second-nav show">
        <ul class="clearfix">
          <li class="active">
            <a href="javascript:void(0)">Global 全局</a>
          </li>
          <li>
            <a href="javascript:void(0)">Layout 布局</a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
