<div class="mb-20 clearfix">
  <div class="col-12 pr-20">
    <div ma-upload
      ma-upload-config="uploadConfig"
      ng-model="uploadValue"></div>
  </div>
  <div class="col-12">
    <ma-button>
      <div ma-upload
        ma-upload-config="uploadConfig"
        ng-model="uploadValue">上传文件</div>
    </ma-button>
  </div>
</div>
<div class="col-24 mb-20">
  <div ma-upload-image
    ma-upload-config="uploadConfig"
    ng-model="uploadValue"></div>
</div>
<h3>aliyun oss</h3>
<div class="col-24">
  <div ma-upload-oss
    ma-upload-config="uploadConfigOss"
    ng-model="uploadValue"></div>
</div>
