<div class="ma-pagination">
  <div class="pagination-item">
    <div class="page-total">共<strong>{{ conf.totalItems }}</strong>条数据</div>
  </div>
  <div class="pagination-item" ng-show="conf.totalItems > 0">
    <ul class="pagination" ng-show="conf.totalItems > 0">
        <li class="prev" ng-class="{disabled: conf.currentPage == 1}" ng-click="prevPage()"><span>&laquo;</span></li>
        <li ng-repeat="item in pageList track by $index" ng-class="{active: item == conf.currentPage, separate: item == '...'}" ng-click="changeCurrentPage(item)"><span>{{ item }}</span></li>
        <li class="next" ng-class="{disabled: conf.currentPage == conf.numberOfPages}" ng-click="nextPage()"><span>&raquo;</span></li>
      </ul>
  </div>

  <div class="pagination-item" ng-show="conf.totalItems > 0">
    <div class="page-jump">
      跳转至第<input class="jump-page-input"
            id="page"
            min="1"
            placeholder=""
            ng-model="conf.jumpPageNum"
            ng-init="1"
            ng-keyup="jumpPageKeyUp($event)">页
    </div>
  </div>
  <div class="pagination-item">
    <div class="pagination-select">
      <ma-select ng-model="conf.selectItem" ma-data="conf.perPageOptions"></ma-select>
    </div>
  </div>
</div>
