<ma-crumb-auto></ma-crumb-auto>
<div class="feedback-modal-page">
  <div class="container" ma-full-container>
    <h2>Notimication 通知</h2>
    <p>
      模态对话框。
    </p>
    <h3>代码演示</h3>
    ${require('./code.html')}
    <div class="col-24 pb-20">
      <ma-code>
        <div class="right">
          <a href="https://jsfiddle.net/youpinyao/s71uepxL/" target="_blank">jsfiddle</a>
        </div>
        <code ng-bind="codeText"></code>
        <h3>ma-config</h3>
        <code ng-bind="configText"></code>
      </ma-code>
    </div>
    <h3>API</h3>
    <div class="p">
      <table>
        <tr>
          <th>属性</th>
          <th>说明</th>
          <th>类型</th>
          <th>默认值</th>
        </tr>
        <tr>
          <td>title</td>
          <td>标题</td>
          <td>String</td>
          <td>-</td>
        </tr>
        <tr>
          <td>delay</td>
          <td>null: 不会自动关闭 number: 延迟number时间关闭</td>
          <td>String</td>
          <td>-</td>
        </tr>
        <tr>
          <td>message</td>
          <td>正文</td>
          <td>String</td>
          <td>-</td>
        </tr>
        <tr>
          <td>onClose</td>
          <td>点击卡片回掉</td>
          <td>Function</td>
          <td>-</td>
        </tr>
      </table>
    </div>
</div>
  </div>
</div>
