<!-- <ma-crumb>
  <ma-crumb-item ma-href="#!/components">Components 组件</ma-crumb-item>
  <ma-crumb-item ma-href="#!/components/global">Global 全局</ma-crumb-item>
  <ma-crumb-item>Font 文字</ma-crumb-item>
</ma-crumb> -->
<ma-crumb-auto></ma-crumb-auto>
<div class="feedback-modal-page">
  <div class="container" ma-full-container>
    <h2>Modal 对话框</h2>
    <p>
      模态对话框。
    </p>
    <h3>代码演示</h3>
    <div class="p clearfix">
      <ma-button ma-click="openModal()">open</ma-button>
      <ma-button ma-click="openConfirm()">confirm</ma-button>
      <ma-button ma-click="openDelete()">delete</ma-button>
      <ma-button ma-click="openAlert()">alert</ma-button>
    </div>
    <div class="p">
      <code>
        const defaultConfig = {
          scope: null, // 作用域 默认 $rootScope
          title: '', // 标题
          content: '', //内容 只有在 confirm 和 delete 的时候使用，其它无效
          template: '', // 主体内容模板
          showClose: true, // 显示关闭按钮
          clickMaskClose: false, // 点击遮罩是否关闭对话框
          okCallback: undefined, // 如果使用默认按钮的保存回调
          cancelCallback: undefined, // 如果使用默认按钮的放弃回调
          buttons: [{
            text: '保存修改',
            type: 'primary',
            size: 'default',
            disabled: false,
            callback($ctrl, config) {
              // 点击回调
              if (typeof config.okCallback === 'function') {
                config.okCallback($ctrl, config);
              }
            },
          }, {
            text: '放弃',
            type: 'default',
            size: 'default',
            disabled: false,
            callback($ctrl, config) {
              // 点击回调
              if (typeof config.okCallback === 'function') {
                config.cancelCallback($ctrl, config);
              }
            },
          }], // 底部按钮
        };

      </code>
    </div>

    <h3>API</h3>
    <div class="p">
      <table>
        <tr>
          <th>属性</th>
          <th>说明</th>
          <th>类型</th>
          <th>默认值</th>
        </tr>
        <tr>
          <td>$modal.open(config)</td>
          <td>config </td>
          <td>JSON</td>
          <td>defaultConfig</td>
        </tr>
        <tr>
          <td>$modal.confirm(config)</td>
          <td>config </td>
          <td>JSON</td>
          <td>defaultConfig</td>
        </tr>
        <tr>
          <td>$modal.delete(config)</td>
          <td>config </td>
          <td>JSON</td>
          <td>defaultConfig</td>
        </tr>
      </table>
    </div>
  </div>
</div>
