<!-- <ma-crumb>
  <ma-crumb-item ma-href="#!/components">Components 组件</ma-crumb-item>
  <ma-crumb-item ma-href="#!/components/global">Global 全局</ma-crumb-item>
  <ma-crumb-item>Font 文字</ma-crumb-item>
</ma-crumb> -->
<ma-crumb-auto></ma-crumb-auto>
<div class="global-font-page">
  <div class="container" ma-full-container>
    <h2>Font 文字</h2>
    <p>定义全局字号变量</p>

    <h3>何时使用</h3>
    <p>在定义自己所开发部分的字号的时候可以引用</p>

    <h3>代码演示</h3>
    <div class="p">
      <div class="font font-12">$font12</div>
      <div class="font font-14">$font14</div>
      <div class="font font-16">$font16</div>
      <div class="font font-18">$font18</div>
      <div class="font font-20">$font20</div>
      <div class="font font-22">$font22</div>
      <div class="font font-24">$font24</div>
    </div>
  </div>
</div>

