<div class="ma-input ma-date-picker">
  <input class="ma-input"
    date-time
    ng-readonly="true"
    ng-model="dateModel"
    view="{{view}}"
    id="{{datePickerId}}"
    date-change="changeValue"
    min-view="{{minView}}"
    min-date="_minDate"
    max-date="_maxDate"
    ng-disabled="disabled"
    placeholder="{{maPlaceholder}}"
    format="{{format}}">
  <ma-icon ma-type="calendar"></ma-icon>
  <ma-icon ma-type="close"
    ma-click="clear()"
    ng-show="!!model && showClear !== 'false'"
    class="clear"></ma-icon>
  <!--<div date-picker
    view="{{view}}"
    ng-model="model"
    min-view="{{minView}}"
    format="{{format}}"></div>-->
</div>
