<!-- <ma-crumb>
  <ma-crumb-item ma-href="#!/components">Components 组件</ma-crumb-item>
  <ma-crumb-item ma-href="#!/components/global">Global 全局</ma-crumb-item>
  <ma-crumb-item>Font 文字</ma-crumb-item>
</ma-crumb> -->
<ma-crumb-auto></ma-crumb-auto>
<div class="data-entry-form-page">
  <div class="container"
    ma-full-container>
    <h2>Form 表单</h2>
    <p>
      具有数据收集、校验和提交功能的表单，包含复选框、单选框、输入框、下拉选择框等元素。
      <br/> 水平排列：标签和表单控件水平排列；（默认）
      <br/> 垂直排列：标签和表单控件上下垂直排列；
      <br/>
    </p>
    <h3>代码演示</h3>
    <div class="p clearfix">
      <div class="mb-20">
        表单验证依赖：
        <a target="_blank"
          href="https://github.com/hueitan/angular-validation">https://github.com/hueitan/angular-validation</a>
      </div>
      ${require('./code.html')}
      <div class="col-24">
        <ma-code>
          <div class="right">
            <a href="https://jsfiddle.net/youpinyao/nbywvooe/" target="_blank">jsfiddle</a>
          </div>
          <code ng-bind="codeText"></code>
        </ma-code>
      </div>
    </div>
  </div>
</div>
