<!-- <ma-crumb>
  <ma-crumb-item ma-href="#!/components">Components 组件</ma-crumb-item>
  <ma-crumb-item ma-href="#!/components/global">Global 全局</ma-crumb-item>
  <ma-crumb-item>Font 文字</ma-crumb-item>
</ma-crumb> -->
<ma-crumb-auto></ma-crumb-auto>
<div class="feedback-spin-page">
  <div class="container" ma-full-container>
    <h2>Spin 加载中</h2>
    <p>
     用于页面和区块的加载中状态。
    </p>
    <h3>代码演示</h3>
    <div class="p clearfix">
      <ma-spin
        ma-size="120"
      ></ma-spin>
    </div>

    <h3>API</h3>
    <div class="p">
      <table>
        <tr>
          <th>属性</th>
          <th>说明</th>
          <th>类型</th>
          <th>默认值</th>
        </tr>
        <tr>
          <td>ma-size</td>
          <td>尺寸</td>
          <td>Int</td>
          <td>120</td>
        </tr>
      </table>
    </div>
  </div>
</div>
