<div class="p">
  <ma-steps ma-index="{{stepIndex}}"
    ma-type="default">
    <ma-step ma-click="setStepIndex(0)">步骤一
      <span>说明说明说明说明说明说明说明说明</span>
    </ma-step>
    <ma-step ma-click="setStepIndex(1)">步骤二
      <span>说明说明说明说明</span>
    </ma-step>
    <ma-step ma-click="setStepIndex(2)">步骤三
      <span>说明说明说明说明</span>
    </ma-step>
    <ma-step ma-click="setStepIndex(3)">步骤四</ma-step>
  </ma-steps>
</div>
<div class="p">
  <ma-steps ma-index="{{stepIndex}}"
    ma-type="mini">
    <ma-step ma-click="setStepIndex(0)">步骤一</ma-step>
    <ma-step ma-click="setStepIndex(1)">步骤二</ma-step>
    <ma-step ma-click="setStepIndex(2)">步骤三</ma-step>
    <ma-step ma-click="setStepIndex(3)">步骤四</ma-step>
  </ma-steps>
</div>
