<h4>类型一</h4>
<div class="p">
  <ma-tabs ng-model="selectTab">
    <ma-tab ma-value="0">选项卡1</ma-tab>
    <ma-tab ma-value="1">选项卡2</ma-tab>
    <ma-tab ma-value="2">选项卡3</ma-tab>
  </ma-tabs>
</div>
<h4>类型二</h4>
<div class="p">
  <ma-tabs ng-model="selectTab2">
    <ma-tab-button ma-size="{{selectTab2}}"
      ma-value="large">选项卡 大</ma-tab-button>
    <ma-tab-button ma-size="{{selectTab2}}"
      ma-value="default">选项卡 中</ma-tab-button>
    <ma-tab-button ma-size="{{selectTab2}}"
      ma-value="small">选项卡 小</ma-tab-button>
  </ma-tabs>
</div>
