<!-- <ma-crumb>
  <ma-crumb-item ma-href="#!/components">Components 组件</ma-crumb-item>
  <ma-crumb-item ma-href="#!/components/global">Global 全局</ma-crumb-item>
  <ma-crumb-item>Font 文字</ma-crumb-item>
</ma-crumb> -->
<ma-crumb-auto></ma-crumb-auto>
<div class="navigation-menu-page">
  <div class="container" ma-full-container>
    <h2>Tabs 标签页</h2>
    <p>选项卡切换组件。</p>

    <h3>代码演示</h3>
    <h4>类型一</h4>
    <div class="p">
      <ma-tabs ng-model="selectTab">
        <ma-tab ma-value="0">选项卡1</ma-tab>
        <ma-tab ma-value="1">选项卡2</ma-tab>
        <ma-tab ma-value="2">选项卡3</ma-tab>
      </ma-tabs>
      <code class="mt-20" ng-bind="defaultTabs"></code>
    </div>
    <h4>类型二</h4>
    <div class="p">
      <ma-tabs ng-model="selectTab">
        <ma-tab-button ma-value="0">选项卡1</ma-tab-button>
        <ma-tab-button ma-value="1">选项卡2</ma-tab-button>
        <ma-tab-button ma-value="2">选项卡3</ma-tab-button>
      </ma-tabs>
      <code class="mt-20" ng-bind="buttonTabs"></code>
    </div>
  </div>
</div>

