<!-- <ma-crumb>
  <ma-crumb-item ma-href="#!/components">Components 组件</ma-crumb-item>
  <ma-crumb-item ma-href="#!/components/global">Global 全局</ma-crumb-item>
  <ma-crumb-item>Font 文字</ma-crumb-item>
</ma-crumb> -->
<ma-crumb-auto></ma-crumb-auto>
<div class="navigation-tabs-page">
  <div class="container" ma-full-container>
    <h2>Tabs 标签页</h2>
    <p>选项卡切换组件。</p>

    <h3>代码演示</h3>
    <h4>类型一</h4>
    <div class="p">
      <ma-tabs ng-model="selectTab">
        <ma-tab ma-value="0">选项卡1</ma-tab>
        <ma-tab ma-value="1">选项卡2</ma-tab>
        <ma-tab ma-value="2">选项卡3</ma-tab>
      </ma-tabs>
      <code class="mt-20" ng-bind="defaultTabs"></code>
    </div>
    <h4>类型二</h4>
    <div class="p">
      <ma-tabs ng-model="selectTab2">
        <ma-tab-button ma-size="{{selectTab2}}" ma-value="large">选项卡 大</ma-tab-button>
        <ma-tab-button ma-size="{{selectTab2}}" ma-value="default">选项卡 中</ma-tab-button>
        <ma-tab-button ma-size="{{selectTab2}}" ma-value="small">选项卡 小</ma-tab-button>
      </ma-tabs>
      <code class="mt-20" ng-bind="buttonTabs"></code>
    </div>
    <h3>API</h3>
    <h4>ma-tabs</h4>
    <div class="p">
      <table>
        <tr>
          <th>属性</th>
          <th>说明</th>
          <th>类型</th>
          <th>默认值</th>
        </tr>
        <tr>
          <td>ng-model</td>
          <td>双向绑定数据</td>
          <td>String</td>
          <td>-</td>
        </tr>
      </table>
    </div>
    <h4>ma-tab, ma-tab-button</h4>
    <div class="p">
      <table>
        <tr>
          <th>属性</th>
          <th>说明</th>
          <th>类型</th>
          <th>默认值</th>
        </tr>
        <tr>
          <td>ma-value</td>
          <td>设定对应 tab 所对应的值</td>
          <td>String</td>
          <td>-</td>
        </tr>
        <tr>
          <td>ma-size</td>
          <td>large default small（ma-tab-button 独有）</td>
          <td>String</td>
          <td>-</td>
        </tr>
      </table>
    </div>
  </div>
</div>

