@import "../../../scss/theme";
@import "../../../scss/mixin";

.crumb {
  color: $grey;
  padding: 10px 0px;
  > .crumb-item {
    &:last-child {
      > span:first-child {
        color: $black;
      }
      > span:last-child {
        display: none;
      }
    }
  }
}
