<div class="sider-menu-content">
  <div class="sider-menu-item"
    ng-repeat="router in routers"
    ng-if="router.hidden !== true">
    <a href="javascript:void(0);"
      class="{{router.cls}}"
      ma-click="itemClick(router, $event)">
      <span>{{router.title}}</span>
      <ma-icon ma-type="{{router.expand ? 'up' : 'down'}}"
        ng-if="hasRouters(router.routers)"
        ma-click="iconClick(router, $event)"></ma-icon>
    </a>
    <ma-sider-menu-content ng-class="{hide: !router.expand}"
      ng-if="router.routers && router.routers.length"
      ma-routers="router.routers"
      ma-parent-router="router"></ma-sider-menu-content>
  </div>
</div>
