<!-- <ma-crumb>
  <ma-crumb-item ma-href="#!/components">Components 组件</ma-crumb-item>
  <ma-crumb-item ma-href="#!/components/global">Global 全局</ma-crumb-item>
  <ma-crumb-item>Font 文字</ma-crumb-item>
</ma-crumb> -->
<ma-crumb-auto></ma-crumb-auto>
<div class="data-entry-datepicker-page">
  <div class="container"
    ma-full-container>
    <h2>DatePicker 日期选择框</h2>
    <p>
      当用户需要输入一个日期，可以点击标准输入框，弹出日期面板进行选择。
    </p>
    <h3>代码演示</h3>
    <div class="p clearfix">
      <div class="col-8 mb-20">
        <h4>year</h4>
        <ma-date-picker name="datepicker1"
          ng-model="pickerDate"
          ma-view="year"
          ma-auto-close="true"
          ma-min-view="year"
          ma-format="YYYY">
      </div>
      <div class="col-8 mb-20">
        <h4>month</h4>
        <ma-date-picker name="datepicker2"
          ng-model="pickerDate"
          ma-view="month"
          ma-min-view="month"
          ma-format="YYYY-MM">
      </div>
      <div class="col-8 mb-20">
        <h4>date</h4>
        <ma-date-picker name="datepicker3"
          ng-model="pickerDate"
          ma-view="date"
          ma-min-view="date"
          ma-max-date="maxDate"
          ma-format="YYYY-MM-DD">
      </div>
      <div class="col-8 mb-20">
        <h4>minutes</h4>
        <ma-date-picker name="datepicker4"
          ng-model="pickerDate"
          ma-view="minutes"
          ma-min-view="minutes"
          ma-format="YYYY-MM-DD HH:mm">
      </div>
      <div class="col-8 mb-20">
        <h4>date range picker</h4>
        <ma-date-range-picker name="datepicer5"
          ng-model="rangePickerDate"
          ma-max-date="maxDate"
          ma-format="YYYY-MM-DD"></ma-date-range-picker>
      </div>
    </div>
    <h3>API</h3>
    <div class="p">
      <h3>ma-date-picker</h3>
      <table>
        <tr>
          <th>属性</th>
          <th>说明</th>
          <th>类型</th>
          <th>默认值</th>
        </tr>
        <tr>
          <td>ma-view</td>
          <td>初始化显示的视图，year month date hours minutes</td>
          <td>String</td>
          <td>-</td>
        </tr>
        <tr>
          <td>ma-min-view</td>
          <td>最小显示的视图，year month date hours minutes</td>
          <td>String</td>
          <td>-</td>
        </tr>
        <tr>
          <td>ma-format</td>
          <td>显示时间格式化 moment 标准</td>
          <td>String</td>
          <td>-</td>
        </tr>
        <tr>
          <td>ma-min-date</td>
          <td>最小可选时间</td>
          <td>Date</td>
          <td>false</td>
        </tr>
        <tr>
          <td>ma-max-date</td>
          <td>最大可选时间</td>
          <td>Date</td>
          <td>false</td>
        </tr>
        <tr>
          <td>ma-clear</td>
          <td>显示清空按钮</td>
          <td>Boolean</td>
          <td>true</td>
        </tr>
      </table>

      <h3 class="mt-20">ma-date-range-picker</h3>
      <table>
        <tr>
          <th>属性</th>
          <th>说明</th>
          <th>类型</th>
          <th>默认值</th>
        </tr>
        <tr>
          <td>ma-format</td>
          <td>显示时间格式化 moment 标准</td>
          <td>String</td>
          <td>-</td>
        </tr>
        <tr>
          <td>ma-min-date</td>
          <td>最小可选时间</td>
          <td>Date</td>
          <td>false</td>
        </tr>
        <tr>
          <td>ma-max-date</td>
          <td>最大可选时间</td>
          <td>Date</td>
          <td>false</td>
        </tr>
        <tr>
          <td>ma-clear</td>
          <td>显示清空按钮</td>
          <td>Boolean</td>
          <td>true</td>
        </tr>
        <tr>
          <td>ma-config</td>
          <td>双向绑定 json <a target="_blank" href="http://longbill.github.io/jquery-date-range-picker/">http://longbill.github.io/jquery-date-range-picker/</a></td>
          <td>JSON</td>
          <td>-</td>
        </tr>
      </table>
    </div>
  </div>
</div>
