<div class="mb-10">
  <ma-button ma-type="primary"
    ma-click="checkboxDisabled = !checkboxDisabled">Toggle disabled {{!!checkboxDisabled}} {{selectCheckbox}}</ma-button>
</div>

<ma-checkbox name="selectCheckbox"
  value="1"
  ng-model="selectCheckbox"
  ng-disabled="checkboxDisabled">选择1</ma-checkbox>
<ma-checkbox name="selectCheckbox"
  value="2"
  ng-model="selectCheckbox"
  ng-disabled="checkboxDisabled">选择2</ma-checkbox>
<ma-checkbox name="selectCheckbox"
  value="3"
  ng-model="selectCheckbox"
  ng-disabled="checkboxDisabled">选择3</ma-checkbox>
