.ma-pagination {
  .pagination-item {
    padding: 5px 5px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    & > div{
      line-height: 20px;
      vertical-align: middle;
    }
  }
  .page-total{
    padding: 5px 12px;
  }
  ul {
    li {
      float: left;
      cursor: pointer;
      vertical-align: top;
      position: relative;
      padding: 5px 12px;
      margin-left: 4px;
      line-height: 1.42857143;
      color: #323232;
      border-radius: 4px;
      background: $white;
      border: 1px solid $outlines;
    }
    li.prev {
      color: transparent;
      border-radius: 4px;
      background: url(../images/table/arrow-left.png) no-repeat center center;
    }
    li.next {
      color: transparent;
      border-radius: 4px;
      background: url(../images/table/arrow-right.png) no-repeat center center;
    }
    li.disabled {
      color: transparent;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #f2f2f2;
    }
    li.active {
      background-color: #FF74B9;
      color: #fff;
      border-color: rgb(242, 242, 242);
    }
  }
  .ma-select{
    width: 110px;
  }
  .jump-page-input{
    width: 50px;
    height: 30px;
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    font-size: $font14;
    border: 1px solid $outlines;
    margin: 0px 4px;
    padding: 5px;
    border-radius: 4px;
  }
}
