.ma-select {
  display: inline-block;
  position: relative;
  width: 240px;
  &.ma-input-error {
    > .ma-input {
      input {
        border-color: $danger;
      }
      .ma-select-multiple-result {
        border-color: $danger;
      }
    }
  }
  &.ma-input-success {
    > .ma-input {
      input {
        border-color: $success;
      }
      .ma-select-multiple-result {
        border-color: $success;
      }
    }
  }
  > .ma-input {
    position: relative;
    z-index: 2;
    cursor: pointer;
    width: 100%;
    vertical-align: top;
    &:before {
      z-index: 2;
    }
    input {
      padding-right: 30px;
      padding-left: 10px;
      width: 100%;
      cursor: pointer;
      @include unselect();
    }
    .ma-select-multiple-result {
      position: relative;
      z-index: 1;
      width: 240px;
      min-height: 32px;
      border-radius: 4px;
      letter-spacing: -0.31em;
      line-height: normal;
      padding: 0px 30px 3px 10px;
      border: 1px solid $outlines;
      @include transition();
      &.has-selected {
        background-color: $white;
      }
      > .multiple-item {
        display: inline-block;
        font-size: $font14;
        color: $base;
        line-height: 24px;
        padding: 0px 5px;
        background-color: #EDEDEF;
        border-radius: 4px;
        letter-spacing: normal;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-top: 3px;
        cursor: default;
        &:last-child {
          margin-right: 0px;
        }
        i.iconfont {
          cursor: pointer;
          color: $grey;
          font-size: $font14;
        }
      }
    }
    &[disabled] .ma-select-multiple-result {
      border-color: $outlines;
      > .multiple-item {
        background-color: $background;
        cursor: not-allowed;
      }
      i.iconfont {
        display: none;
      }
    }
  }
  &.is-multiple {
    > .ma-input {
      input {
        position: absolute;
        left: 0px;
        top: 0px;
        border-color: transparent !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
      }
    }
  }
  &.show {
    z-index: 10;
    > .ma-input {
      input,
      textarea,
      .ma-select-multiple-result {
        -webkit-box-shadow: 0 0px 1px 0 rgba($black, 0.25);
                box-shadow: 0 0px 1px 0 rgba($black, 0.25);
        border-radius: 4px 4px 0 0;
        border-color: rgba($black, 0.1);
        border-bottom: 1px solid $white;
      }
    }
    &.top {
      > .ma-input {
        input,
        textarea,
        .ma-select-multiple-result {
          -webkit-box-shadow: 0 0px 1px 0 rgba($black, 0.25);
                  box-shadow: 0 0px 1px 0 rgba($black, 0.25);
          border-radius: 0 0 4px 4px;
          border-color: rgba($black, 0.1);
          border-top: 1px solid $white;
        }
      }
    }
  }
  .ma-dropdown {
    display: block;
    position: absolute;
    left: 1px;
    top: 0px;
    right: 1px;
    margin: auto;
    height: 100%;
    z-index: 1;
    .ma-dropdown-container .ma-dropdown-item {
      /* word-break: break-all;*/
      /* white-space: normal;*/
    }
  }
}
