
.ma-spin {
   text-align: center;
   svg {
     vertical-align: top;
   }
   .gif {
     background: url(../images/spin/spin.gif) no-repeat center center;
     background-size: cover;
     margin: auto;
   }
 }

.ma-loading {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  @include transition();
  &.show {
    opacity: 1;
    visibility: visible;
  }
  .ma-spin {
    height: 120px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
