.ma-button {

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    font-size: 0;
    margin: 0;
    padding: 0;
  }
}

.upload-file-items {
}

.upload-file-items .upload-file-item {
  position: relative;
  padding: 5px 20px 5px 24px;
  font-size: 12px;
  margin: 3px 0px;
  line-height: 12px;
}

.upload-file-items .upload-file-item:first-child {
  margin-top: 8px;
}

.upload-file-items .upload-file-item:last-child {
  margin-bottom: 8px;
}

.upload-file-items .upload-file-item a {
  word-break: break-all;
  display: inline-block;
}

.upload-file-items .upload-file-item i.close {
  color: $grey;
  visibility: hidden;
  font-weight: normal;
  line-height: 22px;
  position: absolute;
  right: 4px;
  top: 0px;
  cursor: pointer;
}

.upload-file-items .upload-file-item .ma-progress {
  position: absolute;
  left: 6px;
  top: 4px;
}

.upload-file-items .upload-file-item i.icon-paperclip {
  color: $grey;
  font-size: $font14;
  position: absolute;
  left: 5px;
  top: 5px;
}

.upload-file-items .upload-file-item .upload-item-progress {
  background-color: #d8d8d8;
  height: 2px;
  line-height: 0px;
  font-size: 0px;
  margin-top: 2px;
}

.upload-file-items .upload-file-item .upload-item-progress span {
  display: block;
  height: 2px;
  @include transition();
  background-color: $primary;
}

.upload-file-items .upload-file-item:hover {
  background-color: $hover;
}

.upload-file-items .upload-file-item:hover i.close {
  visibility: visible;
}



.upload-image-items {
  letter-spacing: -0.31em;
  line-height: normal;
  .upload-image-item {
    position: relative;
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    width: 96px;
    height: 96px;
    background: #FBFBFB;
    border: 1px dashed $disabled;
    border-radius: 4px;
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 0px;
    text-align: center;

    .ma-progress {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
    }

    .image {
      width: 86px;
      height: 86px;
      background-size: cover;
      background-position: top center;
      i.iconfont {
        font-size: 60px;
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        line-height: 60px;
        color: $grey;
      }
    }

    .handle-box {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 5px;
      top: 5px;
      width: 86px;
      height: 86px;
      line-height: 30px;
      padding-top: 28px;
      background-color: rgba($black, 0.4);
      color: $white;
      @include transition();

      i {
        display: inline-block;
        font-size: $font24;
        margin: 0px 2px;
        cursor: pointer;
        opacity: 0.8;
        @include transition();
        &:hover {
          opacity: 1;
        }
      }
    }

    &:hover {
      .handle-box {
        visibility: visible;
        opacity: 1;
      }
    }

    &.add {
      position: relative;
      cursor: pointer;
      padding-top: 8px;

      @include transition();

      &:hover {
        background-color: $hover;
      }

      input[type="file"] {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        font-size: 0;
        margin: 0;
        padding: 0;
      }

      i {
        font-size: 50px;
        line-height: 50px;
        color: #d8d8d8;
      }
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

