<div class="ma-dropdown">
  <div ng-transclude></div>
  <div class="ma-dropdown-container"
    ng-class="{
      show: show || static == 'true'
    }">
    <div class="ma-dropdown-search-bar"
      ng-show="searchBar == 'true'">
      <ma-input ng-model="searchKey"
        ng-disabled="disabled"
        class="ma-input-search-normal"></ma-input>
    </div>
    <div class="ma-dropdown-item null-text"
      ng-if="(nullText || nullText == 'true') && data.length <= 0">{{nullText == 'true' ? '暂无数据' : nullText}}</div>

    <div class="ma-dropdown-container-content"
      ng-disabled="disabled">
    </div>

    <div class="ma-dropdown-buttons"
      ng-show="clear == 'true'"
      ma-click="$ctrl.clearValue()">
      <ma-button ma-size="mini"
        ma-type="primary">清空</ma-button>
    </div>
  </div>
</div>
