<div class="custom-multi-select form-control ui-select-container ui-select-multiple select2 select2-container select2-container-multi"
  ng-class="{
'hide-search': !$select.searchEnabled,
'select2-container-active select2-dropdown-open open': $select.open,
'select2-container-disabled': $select.selectDisabled,
'custom-tree-select': $select.isTree,
'custom-static-select': $select.isStatic
}">
  <ma-input placeholder="{{ngModel.length ? '' : $select.placeholder}}"
    ng-class="{
    'ma-input-arrow-down': !$select.open,
    'ma-input-arrow-up': $select.open
  }"
    ng-disabled="selectDisabled"></ma-input>
  <ul class="select2-choices"
    ma-click="$select.showSelect()"
    ng-class="{
    'has-selected': ngModel.length
  }">
    <li class="ui-select-match-item select2-search-choice ng-scope"
      ng-repeat="$item in ngModel track by $index">
      <span>
        <span class="ng-binding ng-scope">{{$item.displayText || $item.text}}</span>
      </span>
      <ma-icon class="ui-select-match-close select2-search-choice-close"
        ma-type="closecircle"
        ma-click="$select.removeChoice($item, $event)"></ma-icon>
    </li>
  </ul>
  <div class="ui-select-dropdown select2-drop select2-with-searchbox select2-drop-active select2-display-none"

    ng-class="{'select2-display-show': $select.open}">
    <div class="search-container select2-search"
      ng-class="{'ui-select-search-hidden':!$select.searchEnabled, 'select2-search':$select.searchEnabled}">
      <div class="ma-input ma-input-search-normal"
        ng-disabled="selectDisabled">
        <input type="text"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          role="combobox"
          aria-expanded="true"
          aria-owns="ui-select-choices-0"
          aria-label="Select box"
          class="select2-input ui-select-search ng-pristine ng-valid ng-empty ng-touched"
          ng-model="$select.search"
          ng-disabled="selectDisabled"
          ondrop="return false;">
      </div>
    </div>
    <ul tabindex="-1"
      class="ui-select-choices ui-select-choices-content select2-results ng-scope"
      ng-class="{'has-scrollbar' : $select.selectItems.length > 5, 'has-search': $select.search}">

    </ul>
    <div class="ma-dropdown-buttons"
      ng-show="$select.clear == 'true'"
      ma-click="$select.clearSelect()">
      <ma-button ma-size="mini"
        ma-type="primary">清空</ma-button>
    </div>
  </div>
</div>
