
<div class="custom-select">
  <!-- 多选 -->
<!--  <ui-select ng-if="ctrl.multiple" limit="{{ctrl.limit}}" close-on-select="false" search-enabled="ctrl.searchEnabled" multiple theme="select2" ng-disabled="ctrl.selectDisabled" sortable="ctrl.sortable" class="form-control" ng-model="ctrl.selectModel" ng-class="{'hide-search': !ctrl.searchEnabled}">

    <ui-select-match placeholder="{{ctrl.placeholder}}">{{$item.text}}</ui-select-match>
        <ui-select-choices repeat="item in ctrl.selectItems | filter: $select.search : item.text">

          <div  ng-show="ctrl.showItem(item, $select.search)" ng-click="ctrl.multipleClick($event, item)"><common-checkbox model="item.selected" style="pointer-events:none;"><span ng-bind-html="item.text"></span></common-checkbox></div>

        </ui-select-choices>
  </ui-select> -->

  <!-- 单选 -->
  <ui-select ng-if="!ctrl.multiple" ng-class="{'has-scrollbar' : ctrl.selectItems.length > 5}" search-enabled="ctrl.searchEnabled" theme="select2" ng-disabled="ctrl.selectDisabled" show-loading="showLoading" sortable="ctrl.sortable" class="form-control" ng-model="ctrl.selectModel" select-uuid="{{ctrl._uuid}}">

    <ui-select-match placeholder="{{ctrl.placeholder}}">{{$select.selected.text}}</ui-select-match>
        <ui-select-choices repeat="item in ctrl.selectItems | filter: $select.search : item.text">
          <div ng-bind-html="item.text"></div>
        </ui-select-choices>
  </ui-select>
</div>
