<div class="mb-10">
  <ma-button ma-type="primary"
    ma-click="radioDisabled = !radioDisabled">Toggle disabled {{!!radioDisabled}} {{selectRadio}}</ma-button>
</div>
<ma-radio name="selectRadio"
  value="1"
  ng-model="selectRadio"
  ng-disabled="radioDisabled">选择1</ma-radio>
<ma-radio name="selectRadio"
  value="2"
  ng-model="selectRadio"
  ng-disabled="radioDisabled">选择2</ma-radio>
<ma-radio name="selectRadio"
  value="3"
  ng-model="selectRadio"
  ng-disabled="radioDisabled">选择3</ma-radio>
